@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Michroma&family=Orbitron:wght@500;600;700;800;900&family=Rajdhani:wght@500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0d0607;
  font-family: 'Rajdhani', sans-serif;
  user-select: none;
}

@media screen and (max-width: 900px) {
  html, body, #root {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: auto !important;
    min-height: 100% !important;
  }
}
